@import url('https://fonts.googleapis.com/css2?family=Italianno&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Courgette&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Courgette&family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');
*{
    padding: 0;
    margin: 0;  
}
html{
    scroll-behavior: smooth;
}
body{
    overflow-x: hidden;
    width: 100%;
}
.video-bg {
    position: fixed;
    top: 50%;
    left: 50%;
    width: 100%;
    height: 100%;
    object-fit: cover; /* Remplit l'espace sans déformation */
    transform: translate(-50%, -50%);
    z-index: -1; /* Place la vidéo derrière le contenu */
}
.obscuringVeil{
    z-index: 2;
    background-color: #011627ab;
}
:root{
    /*Couleurs*/
    --primary-color: #C9C9C9;
    --secondary-color: #0A3139;
    --button-color: #1F80A6;
    --lightBlue-color: #52cdfe;
    --background-color: #012d35fd;
    --div-color: #011627;
    /*Fonts*/
    --font-Italic: Italianno;
}
header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: var(--secondary-color);
    align-items: center;
    padding-inline-end: 5vw; 
    position: sticky;
    top: 0vh;
    z-index: 9999;
}
header div{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 3vw;
}
header img{
    width: 6vw;
}
header div h2{
    font-family: Italianno;
    font-size: 8vh;
    color: var(--primary-color);
}
header span{
    color: var(--button-color);
}
header ul{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 3vw;
    list-style: none;
}
header a{
    text-decoration: none;
    color: var(--primary-color);
    display: flex;
    flex-direction: column;
    gap: 0.5vh;
}
.active{
    text-decoration: none;
    color: #00c2cb;
    text-shadow: 0px 0px 10px #00c2cb, 0px 0px 20px #00c2cb;
    display: flex;
    flex-direction: column;
    gap: 0.5vh;
}
.active hr{
    opacity: 1;
    width: 100%;
    color: #00c2cb;
    text-shadow: 0px 0px 10px #00c2cb, 0px 0px 20px #00c2cb;
}
header hr{
    border-radius: 3px;
    border: solid 1.5px #00c2cb;
    width: 0;
    opacity: 0;
    transition: all 0.3s;
    place-self: center;
}
li h3{
    font-family: sans-serif;
    font-size: 4vh;
    transition: all 0.3s;
}

li:hover hr{
    opacity: 1;
    width: 100%;
}

li:hover h3{
    color: #00c2cb;
    text-shadow: 0px 0px 10px #00c2cb, 0px 0px 20px #00c2cb;
}


main{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    align-items: center;
}

main hr{
    width: 100%;
    border: solid #00c2cb;
    box-shadow: 0px 0px 10px #00c2cb, 0px 0px 20px #00c2cb;
    transform: perspective(10px) rotateX(0deg) scale(0.5, 0.2);
    filter: blur(0.6em);
    margin: 2vh;
}
main h3{
    color: var(--lightBlue-color);
    font-family: "Courgette";
    font-size: 4vw;
}
/*Presentation*/
#reception{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    opacity: 0.8;
    border-radius: 20px;
    margin: 5vw;
    padding: 5vh;
    gap: 8vh;
}

#reception p{
    color: white;
    font-family: "Nunito", sans-serif;
    font-size: 8vh;
    text-align: center;
}
h1 {
    color: #52cdfe;
    position: relative;
    font-size: 3rem;
    font-weight: 600;
    color: #00c2cb;
    text-shadow: 0px 0px 10px #00c2cb, 0px 0px 20px #00c2cb;
    margin: 3px;
    font-family: "Nunito",sans-serif;
    letter-spacing: 1vh;
    font-size: 15vh;
}
h1::before{
    content: "";
    position: absolute;
    top: 55%;
    left: 0;
    height: 100%;
    width: 100%;
    background: #00c2cb;
    transform: perspective(10px) rotateX(7deg) scale(0.6, 0.2);
    filter: blur(0.5em);
    opacity: 0.5;
}

#reception section{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 5vw;
}
#reception section button{
    border: solid var(--lightBlue-color);
    padding-block: 1vh;
    padding-inline: 3vh;
    border-radius: 30px;
    background-color: transparent;
    color: var(--lightBlue-color);
    font-size: 5vh;
    font: bold;
    transition: all 0.3s;
}

#reception section button:hover{
    border: solid #00c2cb;
    box-shadow: 0px 0px 10px #00c2cb, 0px 0px 20px #00c2cb;
    background-color: #00c2cb;
    color: #011627;
}

#whoWeAre{
    display: flex;
    flex-direction: column;
    padding: 2vh;
    width: 90%;
    margin-block: 5vw;
    gap: 5vw;
}
#whoWeAre section{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 5vw;
    align-items: center;
}
#whoWeAre img{
    width: 45vw;
    border-radius: 20px;
}

#whoWeAre aside{
    display: flex;
    flex-direction: column;
    gap: 5vh;
    color: white;
    font-family: "Nunito", sans-serif;
    text-indent: 5vw;
    font-size: 1.35vw;
}

#whyUs{
    padding: 2vh;
    margin-block: 5vw;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 10vh;
}
#whyUs div{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 5vh;
}

main h4{
    font-size: 5vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 3vh;
    color: #00c2cb;
    font-family: "Nunito", sans-serif;
}
main h4 i{
    font-size: 5vh;
    color: #00c2cb;
    text-shadow: 0px 0px 10px #00c2cb, 0px 0px 20px #00c2cb;
}
#whyUs section{
    width: 30vw;
    height: 100%;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 3vh;
    align-items: center;
    font-family: "Nunito", sans-serif;
}
#whyUs p{
    text-indent: 3rem;
    font-size: 1.35vw;
}